{% extends 'base.html' %}

{% block title %}About{% endblock title %}




{% block content %}
<h1>About Us</h1>
<div class="aboutlogo">
    <a class="linklogo" href="https://www.youtube.com/channel/UCOvvO6L7CArQP36S2lDDpJg"><img class="logo" src="../static/images/g5.png"></a>
</div>

<p class="about-p"> Welcome to our world! Las Vegas; many people, because of its reputation as the "sin city," have preconceived opinions about  this vibrant city not being "family-friendly." In this blog we tell and show how that sin city stigma is not true . <br> <br>
    Thank you for joining us. Let's enjoy and share our fun Vegas stories!</p>

{% endblock content %}}