{% extends 'base.html' %}

{% block title %}Home{% endblock title %}




{% block content %}
    
    <!--------------- 1st --------------->
<main>
<div class="oneandtwo">
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div id="topdivhome" class="card text-left">
        <div id="toptexthome" class="card-body">
            <h5 class="card-title">Fabulous Las Vegas</h5>

            <p class="card-text">
                Las Vegas is an internationally renowned major resort city, known primarily for its gambling, shopping, fine dining, entertainment, and nightlife. But this beautiful vibrant city has more to offer and more family friendly than its reputation . Come and see Las Vegas from our view . </p>
        </div>
        <div >
        </div>
    </div>
    
    <div class="carousel-inner">

        <div class="carousel-item active">
                <img src="../static/images/lvsign.jpeg" class="d-block w-100" alt="...">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="card-title"> Las Vegas Sign </h5>
                        <p class="card-text">
                            Whether you’re a first-time visitor or a long-time Vegas vet, the welcome sign is a source of hope, happiness and good times. The feeling you get from seeing it is pure fabulous-ness!</p>
                    </div>
                    <div >
                    </div>
                </div>
        </div>
 
        <div class="carousel-item">
                <a href="https://www.instagram.com/p/BgdAZBnHVcD/?igshid=NzAzN2Q1NTE=">
                    <img src="../static/images/gondola.jpeg" class="d-block w-100" alt="Gondola Ride , Venetian Las Vegas"></img>
                </a>
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="card-title"> The Venetian </h5>
                        <p class="card-text">
                            If you can’t make it to Venice, Italy, the next best thing happens at the Venetian in Las Vegas. It’s a great outing with family/friends, or it can be a romantic date. There are two options when you get tickets for the gondola: an indoor ride or an outdoor ride. During the ride, the gondolier takes you through the canal and  serenades you with. </p>
                    </div>
                    <div >
                    </div>
                </div>
        </div>

        <div class="carousel-item">
                <a href="https://www.youtube.com/watch?v=6xBQFWItK9I">
                    <img src="../static/images/cerealkillerz.png" class="d-block w-100" alt="...">
                </a>
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="card-title"> Bellagio Fountains </h5>
                        <p class="card-text">
                            Three cool things to do in spring/summer in Vegas. Two out of three are free! Join us , let's go see the Bellagio Botanical Garden , the famous Bellagio Fountains and have some icecream at the number one Cereal Bar in the World , <a href="https://thecerealkillerz.com/#:~:text=The%20%231%20Cereal%20Bar%20In,or%20milkshake%20of%20your%20dreams.">Cereal Killerz Kitchen</a>!</p> </p>
                    </div>
                    <div >
                    </div>
                </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div> 
    <!-- ---------- End of first ---------- -->


    <!-- ----------2nd part  ---------- -->
    <div class="secondpart-home"> 
    
        <div class="card1" style="width: 200px;">
            <a href="https://www.youtube.com/watch?v=wcel0i60ySk&t=74s">
            <img src="../static/images/wickedspoon.png" class="cardimage" class="d-block w-100" alt="...">
            </a>
            <div class="card-body">
            <p class="card-text"> One of the best breakfast buffets is in Cosmopolitan Hotel, Wicked Spoon. Let's eat!  </p>
            </div>
        </div>

        <div class="card1" style="width: 200px;">
            <a href="https://www.youtube.com/watch?v=NzAxn2qDCOE&t=12s">
                <img src="../static/images/hersheymm.png" class="cardimage" class="d-block w-100" alt="...">
            </a>
            <div class="card-body">
            <p class="card-text"> Lets check out  New York New York , Hershey Store and M&M Store. If you are a chocolate lover these places are a must ! New York New York has a coney island style roller coaster!  </p>
            </div>
        </div>
        <div class="card1" style="width: 200px;">
            <a href="https://www.youtube.com/watch?v=jUVWAVT_O_M&t=599s">
            <img src="../static/images/cowabunga.png" class="cardimage" class="d-block w-100" alt="...">
            </a>
            <div class="card-body">
            <p class="card-text">What to do when its super hot? Cowabunga Water Park ! One of our favorite spots ; with fireworks , food trucks, DJs in the summer,  of course thrilling water slides and vicious wave pool ! </p>
            </div>
        </div>

        <div class="card1" style="width: 200px;">
            <a href="https://www.youtube.com/watch?v=AhoETc_sLGs">
            <img src="../static/images/roundone.png" class="cardimage" class="d-block w-100" alt="...">
            </a>
            <div class="card-body">
            <p class="card-text">The biggest arcade in Vegas , Round 1 Bowling and Amusement. This is attached to a mall so win win for all of us. Hands down one of our favorite spots here in Vegas.  </p>
            </div>
        </div>

        <div class="card1" style="width: 200px;">
            <img src="../static/images/fampicgn.jpg" class="cardimage" class="d-block w-100" alt="Family Pic Golden Knights Gear">
            <div class="card-body">
            <p class="card-text">Las Vegas, home of the Golden Knights. Check out how we do here , join us , let's  watch a <a href="https://www.facebook.com/watch/?extid=CL-UNK-UNK-UNK-IOS_GK0T-GK1C&mibextid=2Rb1fB&v=10155162895986288">game </a> and <a href="https://www.facebook.com/watch/?extid=CL-UNK-UNK-UNK-IOS_GK0T-GK1C&mibextid=2Rb1fB&v=10155290806971288">parade.</a> We made it on "fox5vegas" Instagram!</p>
            </div>
        </div>

        <div class="card1" style="width: 200px;">
            <a href="https://www.instagram.com/p/Bf9HR1RhuEK/?igshid=NzAzN2Q1NTE=">
                <img src="../static/images/adventuredome.jpeg" class="cardimage" class="d-block w-100" alt="Adventure Dome">
            </a>
            <div class="card-body">
            <p class="card-text">The <a href="https://www.circuscircus.com/the-adventuredome/">Adventure Dome in Circus Circus</a> This park has something for everyone, whether it’s exhilarating roller coasters, more sedate rides for kids, classic arcade games or cutting-edge VR adventures. The whole park is under a huge glass dome, so it’s open all year. <a href="https://www.instagram.com/p/Bf9V0YGBH1T/?igshid=NzAzN2Q1NTE%3D">We</a> sure had an awesome time !</p>
            </div>
        </div>
        
    </div> 

    
<!-- This div is the end of class "oneandtwo" -->
</div> 

    <!-- ----------End of 2nd  --------- -->



    <!-- ----------CARDS---------- -->
    
<div class="container-home"> 

    <div class="card" style="width: 250px;">
        <h4> Latest Blogs <i class="bi bi-file-text"></i> </h4>
        
        <a href="https://www.youtube.com/watch?v=BxxNYA7NwPI&t=638s">
            <img src="../static/images/bacchanal.png" class="cardimage" class="d-block w-100" alt="Bacchanal Buffet">
        </a>
        <div class="card-body">
        <p class="card-text">Bacchanal Buffet in Caesar's Palace. The best buffet in Vegas! Seafood, Steaks, food from all over the world and best desserts ! So worth it ! </p>
        </div>

    </div>
    <div class="card" style="width: 250px;">
        <a href="https://www.instagram.com/reel/ClzPv0Hj_aC/?igshid=NzAzN2Q1NTE%3D">
            <img src="../static/images/omegamart.png" class="cardimage" class="d-block w-100" alt="Omega Mart">
        </a>
        <div class="card-body">
        <p class="card-text">Omega Mart in Meow Wolf . It's an interactive, mind-bending immersive art experience. Explore an extraordinary supermarket that bursts into surreal worlds and unexpected landscapes. </p>
        </div>
    </div>
    <div class="card" style="width: 250px;">
        <a href="https://www.youtube.com/watch?v=60qU1F5AAN4&t=415s">
            <img src="../static/images/excalibur.jpeg" class="cardimage" class="d-block w-100" alt="Excalibur">
        </a>
        <div class="card-body">
        <p class="card-text">Tournament of Kings in Excalibur is Las Vegas' ultimate dinner and a show experience. Adapted from the tale of King Arthur, valiant knights ride mighty steeds and prove their chivalry amongst special effects and pyrotechnics. While knights fight, guests feast on a hearty dinner using the original utensil – their hands. Tournament of Kings is an epic portrayal of centuries past, and it’s all in the name of honor, country, and of course, food.</p>
        </div>
    </div>
    
</div>
</main>



{% endblock content %}}



